html {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Roboto', sans-serif;
	font: inherit;
	vertical-align: baseline;
}

body {
	background: url(../img/tombraider.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.container{
	max-width: 400px;
	font-family: 'Roboto', sans-serif;	
	background: #f7f7f7;
	margin: 100px auto;
	padding: 30px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.container img{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.container h1{
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

.container h4{
	text-align: center;	
}

input{
	width: 100%;
	font-size: 15px;
	padding: 5px 10px;
	box-sizing: border-box;
	border: 0.1px solid grey;
}

input:focus{
	background-color: white;
	border: 0.2px solid #2980b9;
	outline: none;
}

input[name="fname"], input[name="lname"], input[name="phoneNumber"], input[name="postalCode"], input[type="password"] {
	margin-bottom: 20px;
}

button{
	width: 100%;
}

.onerow{
	padding: 20px 0px;
}

.onerow input{
	width: 50%;
	float: left;
}
