body {
	background: url(../img/tombraider.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.container{
	max-width: 500px;
	background: grey;
	margin: 100px auto;
}

.container h1{
	text-align: center;
}

input{
	width: 100%;
	font-size: 18px;
	padding: 5px 10px;
	box-sizing: border-box;
	border: 0.2px solid grey;
}

input:focus{
	background-color: white;
	border: 0.2px solid #2980b9;
	outline: none;
}

.onerow{
	padding: 20px 0px;
}

.onerow input{
	width: 50%;
	float: left;
}
